.container{
  display: flex;
  border-radius: 10px;
  width: auto;
  border: 1px solid black;
  flex-wrap: wrap;
  height:auto;
  position: relative;
  padding: 10px;


}
h1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-field{
 
 position: relative;


}
.pill{
  display: flex;
  border: 1px solid black;
  cursor: pointer;
  border-radius:2px  ;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: bisque;

  margin-top: 5px;;
}
.body{
  font-family: sans-serif;
}


.sugg-clip{
  background-color: cornsilk;
  display: flex;
  gap:2px;
  align-items: center;
  justify-content: center;
 
  border: 1px solid black;
  width:200px;
  border-radius: 2px;
  cursor: pointer;
}

img{
  width:40px;
  height:40px

}
.suggestions{
  position: absolute;
  top:100%;
  left:0%;
  overflow-y: scroll;


}

.text{
  border: none;
  outline: none;
  padding: 10px;
  width: 100px;
  margin: 2px;
  font-size: 14px;
}